<app-header (toggleDrawer)="toggleDrawer($event, drawer)"></app-header>
<kendo-drawer-container>
    <kendo-drawer
      id="drawerWidth"
      #drawer
      [items]="items"
      mode="push"
      [mini]="true"
      [expanded]="false"
      (select)="onSelect($event)"
    >
    </kendo-drawer>

    <!-- <kendo-drawer-content>
      <my-content [selectedItem]="selected"></my-content>
    </kendo-drawer-content>
  </kendo-drawer-container> -->

    <kendo-drawer-content id ="drawerContent"  >
      <router-outlet></router-outlet>
    </kendo-drawer-content>
  </kendo-drawer-container>
  