kendo-drawer-container {
  flex: 1 1 auto;
  overflow-y: auto;
  height: 92vh;
}
kendo-drawer {
  background-color: #2c3145 !important;
}
.k-drawer-item {
  color: white;
}

kendo-drawer-content {
  padding: 0 20px;
  background-color: #f2f2f2;
  min-height: 92vh;
}

.k-drawer-push {
  height: -webkit-fill-available;
}