app-case-detail-chart {
  width: -webkit-fill-available;
}


.test{
  border: 1px solid #f00;
}

.grid-container{
  display: grid;
  grid-template-rows: auto 1fr;
  grid-gap: 10px;
 min-height: 100%;
}


.grid-2-col{
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 10px;

}
