kendo-card {
  min-width: 100% !important;
  height: 100%;
}
/* #container-1 {
  width: -webkit-fill-available !important;
} */
fusioncharts {

}
kendo-drawer-content {
  padding: 0 20px;
  background-color: #f2f2f2;
  min-height: 92vh;
  min-width: 43vh;
}