<kendo-appbar [position]="'top'">
  <kendo-appbar-section>
    <button class="k-button k-button-clear" style="padding: 5px;">
        <kendo-icon [name]="'menu'" (click)="showHideMenu()"></kendo-icon>
    </button>
</kendo-appbar-section>
  <kendo-appbar-spacer [width]="'8px'"></kendo-appbar-spacer>
  <kendo-appbar-section>
  <img src="/assets/Images/Fadv.png" class="logo-img">
  <img src="/assets/Images/mobile-logo.png" width="28px" class="mobile-logo-img">
  </kendo-appbar-section>

  <kendo-appbar-spacer></kendo-appbar-spacer>
  <!-- <kendo-appbar-section><img src="/assets/Images/ngindia.png" class="logo-img"></kendo-appbar-section> -->
  <kendo-appbar-spacer></kendo-appbar-spacer>
  <!-- <kendo-appbar-spacer></kendo-appbar-spacer> -->

  <kendo-textbox placeholder="Search" class="searchBar" [clearButton]="true">
    <!-- <ng-template kendoTextBoxPrefixTemplate>
      <button kendoButton look="clear" icon="image"></button>
      <button kendoButton look="clear" icon="calendar"></button>
      <kendo-textbox-separator></kendo-textbox-separator>
    </ng-template> -->
    <ng-template kendoTextBoxSuffixTemplate>
      <!-- <kendo-textbox-separator></kendo-textbox-separator> -->
      <!-- <button kendoButton look="clear" class="send-button">Send</button> -->
      <kendo-icon name="search"></kendo-icon>
    </ng-template>
  </kendo-textbox>
  
  <kendo-appbar-section class="actions">
      <kendo-badge-container>
          <button class="k-button k-button-clear">
              <kendo-icon name="email"></kendo-icon>
          </button>
          <button class="k-button k-button-clear">
              <kendo-icon name="comment"></kendo-icon>
          </button>
          <kendo-badge shape="dot" themeColor="warning" size="small" position="inside"></kendo-badge>
      </kendo-badge-container>
      <span class="k-appbar-separator"></span>
  </kendo-appbar-section>
  <kendo-appbar-section class="profile">
    <kendo-avatar [imageSrc]="kendokaAvatar" shape="circle" width="26px" height="26px"></kendo-avatar>
    <kendo-splitbutton
    [data]="splitButtonItems"
    (itemClick)="onSplitButtonItemClick($event)"
    (buttonClick)="onSplitButtonClick()"
  >
  </kendo-splitbutton>
</kendo-appbar-section>
  </kendo-appbar>

