kendo-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  box-shadow: 1px 0px 10px -5px gray;
  margin: 8px;
  width: -webkit-fill-available !important;
}
kendo-card-header {
  padding: 1px;
  width: 100%;
  text-align: center;
  background: gray;
  color: white;
}
kendo-card-header h6 {
  margin: 7px 0;
}
.card-top-border {
  border-top: 7px solid transparent;
  width: -webkit-fill-available;
  border-image: linear-gradient(45deg, #cb4c7c, #f77982);
  border-image-slice: 1;
}

.card-title {
  font-size: 28px;
  text-align: center;
}
.card-subtitle {
  font-size: 15px;
  margin: 0;
  text-align: center;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  /* background-color: #f2f2f2; */
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
h1 {
  margin: 0;
}
.row2 kendo-card .card-content h1 {
  font-weight: bold;
}
.row2 kendo-card kendo-card-body {
  padding: 10px;
}

.row2 .k-card-footer {
  padding: 5px 0 !important;
  border-style: none;
  background-color: #f6f6f6;
  width: inherit;
}
.row2 .k-card-footer table {
  margin: 0 auto;
}
.row2 .k-card-footer table td {
  font-size: 9px;
}
.row2 .k-card-footer table tr {
  line-height: 0.8;
}
.row2 .k-card-footer table td:nth-child(2) {
  font-size: 11px;
  font-weight: bold;
}

/* #cb4c7c
#f77982 */
