/* kendo-card.count_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  border: none;
  box-shadow: 1px 0px 10px -5px gray;
  margin: 6px 8px;
  max-width: 280px;
  width: -webkit-fill-available !important;
  cursor: pointer;
}
@media (max-width: 1120px) {
  kendo-card {
    max-width: 280px;
  }
}
kendo-card-header {
  padding: 1px;
  width: 100%;
  text-align: center;
  background: #fff;
  color: white;
  box-shadow: 1px 0px 10px -5px gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;

  margin: 6px 8px;
}
kendo-card-header h6 {
  margin: 5px 0;
  letter-spacing: 1px;
  font-size: 10px;
}*/
.card-top-border {
  border-top: 7px solid transparent;
  background: #fff;
  border-image: linear-gradient(45deg, #cb4c7c, #f77982);
  border-image-slice: 1;
  box-shadow: 1px 0px 10px -5px gray;
  width: 100%;
  box-sizing: border-box;
}

.selected-card-border {
  border: 5px solid transparent;
  width: -webkit-fill-available;
  border-image: linear-gradient(45deg, #cc4c7d, #f96f84);
  border-image-slice: 1;
}

.card-title {
  font-size: 28px;
  text-align: center;
}
.card-subtitle {
  font-size: 15px;
  margin: 0;
  text-align: center;
}

h1 {
  margin: 0;
}

.caret-up {
  position: absolute;
  bottom: -33px;
}
.k-i-kpi-status-hold {
  font-size: 32px !important;
  color: #a30069;
}

.orange {
  color: #fb7c06 !important;
}
.red {
  color: #f80308 !important;
}
.light-green {
  color: #09b602 !important;
}

/* #cb4c7c
#f77982 */

/* Carousel */
#wrapper {
  width: 100vw;
  position: relative;
  padding: 0 10px;
  margin: auto;
}

#carousel {
  overflow: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

#carousel::-webkit-scrollbar {
  height: 0;
}

#prev,
#next {
  display: flex;
  justify-content: center;
  align-content: center;
  background: white;
  border: none;
  padding: 8px;
  border-radius: 50%;
  outline: 0;
  cursor: pointer;
  position: absolute;
}

#prev {
  top: 50%;
  left: -50px;
  transform: translate(50%, -50%);
  display: none;
}

#next {
  top: 50%;
  right: -50px;
  transform: translate(-50%, -50%);
}

/* #content {
  display: grid;
  grid-template-columns: repeat(auto, minmax(200px, 1fr));
  grid-gap: 10px;
  grid-auto-flow: column;
  margin: auto;
  box-sizing: border-box;

} */

/* .stage_count_card {
  width: 100%;
  margin: 0;

} */
.dashboard_container{

  /* height: 100vh; */

  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-gap: 10px;
  }
  .container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 10px 0;
  font-size: 30px;
  }


  /* #wrapper {
    width: 100%;
    max-width: 1120px;
    width: -webkit-fill-available !important;
    position: relative;
    padding: 0 10px;
    margin: auto;
    height: 188px !important;
  } */
  /* @media (max-width: 2560px) {
    #wrapper {
      max-width: calc(100% - 200px);
    }
    #prev {
      left: -55px !important;
    }
    #next {
      right: -55px !important;
    }
  }
  @media (max-width: 1440px) {
    #wrapper {
      max-width: 1100px;
    }
  }
  @media (max-width: 1024px) {
    #wrapper {
      max-width: 660px;
    }
    #prev {
      left: -50px !important;
    }
    #next {
      right: -50px !important;
    }
  }
  @media (max-width: 768px) {
    #wrapper {
      max-width: 440px;
    }
    #prev {
      left: -35px !important;
    }
    #next {
      right: -35px !important;
    }
  }
  @media (max-width: 425px) {
    #wrapper {
      max-width: 220px;
    }
    #prev {
      left: -28px !important;
    }
    #next {
      right: -28px !important;
    }
  }
  @media (max-width: 375px) {
    #prev {
      left: -20px !important;
    }
    #next {
      right: -20px !important;
    }
  }
  @media (max-width: 330px) {
    #prev {
      left: -5px !important;
    }
    #next {
      right: -5px !important;
    }
  } */
  .btn-trans{
background-color: transparent !important;
  }
