.col {
  display: flex;
  flex-direction: column;
}
.k-dropdown {
  padding: 5px 0;
  width: 15.4em;
}
.calendar-wrapper {
  padding-left: 20px;
}

#control_wrapper {
  max-width: 246px;
  margin: 30px auto;
  padding-top: 50px;
}
.control-section {
  margin: 25px auto;
}
