/* .detail-section {
  width: 100% !important;


  background-color: white;
  margin: 2px 8px;
  margin-bottom: 0;
  display: flex;
}
kendo-card-body {
  padding: 5px !important;
}
kendo-card-header {
  width: 100% !important;
  padding-bottom: 0;
}
.header-section {
  padding: 6px;
  display: flex;
}
kendo-card {
  display: flex;
  flex-direction: column;

  align-items: center;
  border-radius: 0;
  border: none;
  box-shadow: 1px 0px 10px -5px gray;
  margin: 10px;
  width: -webkit-fill-available !important;
}
.detail-section kendo-card {
  flex-basis: 100%;
  border: 1px solid rgb(207, 202, 202);
  box-shadow: none;
}
.detail-section kendo-card:nth-child(1) kendo-grid {
  height: 200px;
  overflow-y: scroll;
}
.detail-section kendo-card:nth-child(2) {
  flex-basis: 400px;
  border: none;
}
.row {
  display: flex;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.raphael-group-13-caption {
  display: none;
}

th {
  text-transform: uppercase;
}
 */
h3{
  font-weight: 500;
  margin: 0;
  padding: 0;
}




.grid-container{
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-gap: 10px;
}

.panel{
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}
.panel1 {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  justify-content: center;
  display: flex;
}


.k-stepper > .k-progressbar {
  height: 4px;
  top: 18px;
  padding-left: 10px;
}

.k-stepper > .k-progressbar .k-state-selected {

}

.custom-step {
  width: 34px;
  height: 34px;
  border: 1px solid #ff8008;
  border-radius: 50px;
  background-clip: padding-box;
  box-sizing: border-box;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;

}

.k-step-done .custom-step {
  background-image: radial-gradient(
    circle at center,
    #ffc837 20px,
    #ff8008
  );
}

.k-step:not(.k-step-done):not(.k-step-current) .custom-step {
  border: 1px solid #ccc;

}

.k-step-link .k-icon {
  font-size: 24px;
  color: #000;
}

.k-step-link .step-label {
  margin-left: 200px;
  font-weight: 500;
  padding: 0 10px;
  padding-left: 40px;
}

.custom-step.greenBg{
  background-color: #6D9F71;
  color: #fff;
  border: 1px solid #ccc
}

.custom-step.redBg{
  background-color: #DD4A48;
  color: #fff;
  border: 1px solid #ccc
}

