.detail-section {
  /* width: 68%; */
  /* height: 200px; */
  width: 100%;
  border: 1px solid purple;
  background-color: white;
  /* margin: -13px; */
  margin-bottom: 0;
  display: flex;
}
.report_card_header {
  width: 100%;
  padding-bottom: 0;
}
.header-section {
  padding: 6px;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
}
.report_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 0;
  border: none;
  box-shadow: 1px 0px 10px -5px gray;
  box-sizing: border-box;
  padding: 10px;
}
.report_card .report_card_body {
  text-align: left !important;
}
.detail-section .report_card {
  border: 1px solid rgb(207, 202, 202);
  box-shadow: none;
}
.detail-section .report_card:nth-child(2) {
  border: none;
}
.row {
  display: flex;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.k-gauge {
  height: 85px !important;
  width: 85px !important;
}
.gaurge-wraper {
  text-align: center;
  position: relative;
}
.gaurge-wraper h6 {
  font-weight: bold;
  text-overflow: wrap;
}
.body-wrapper {
  overflow-y: scroll;
  /* height: 130px; */
}
table td:nth-child(1) {
  text-align: left;
  font-size: 11px !important;
}
table td:nth-child(2) {
  text-align: right;
}
.body-wrapper table td:nth-child(2) kendo-icon {
  border: 1px solid green;
  font-weight: bold;
  border-radius: 50%;
  font-size: 14px;
  padding: 1px;
}
.body-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.body-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.body-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.body-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.raphael-group-13-caption {
  display: none;
}

.report_container {
  font-size: 1rem;
  box-sizing: border-box;
  padding: 20px 0;
  grid-template-rows: auto 1fr; /* NEW */
}

.report_row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 100px));
  grid-gap: 10px;
  justify-content: center;
}

.report_row .cols {
  text-align: center;
  background: #fff;
}

.notification {
  position: absolute;
  background-color: red;
  color: white;
  right: 10px;
  top: 5px;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
