.detail-section {
  width: 100%;
  border: 1px solid purple;
  background-color: white;
  margin-bottom: 0;
  display: flex;
}

.header-section {
  padding: 6px;
  margin-bottom: 10px;
  display: flex;
  overflow: hidden;
}

.detail-section .report_card {
    border: 1px solid rgb(203 199 199);
    box-shadow: gray;
    margin: 11px 12px;
    max-width: -webkit-fill-available;
}
.detail-section .report_card:nth-child(2) {
  border: none;
}
.row {
  display: flex;
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}

.k-gauge {
  height: 85px !important;
  width: 85px !important;
}
.gaurge-wraper {
  text-align: center;
  position: relative;
}
.gaurge-wraper h6 {
  font-weight: bold;
  text-overflow: wrap;
}
.body-wrapper {
  overflow-y: scroll;
  /* height: 130px; */
}
table td:nth-child(1) {
  text-align: left;
  font-size: 11px !important;
}
table td:nth-child(2) {
  text-align: right;
}
.body-wrapper table td:nth-child(2) kendo-icon {
  border: 1px solid green;
  font-weight: bold;
  border-radius: 50%;
  font-size: 14px;
  padding: 1px;
}
.body-wrapper::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.body-wrapper::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

/* Handle */
.body-wrapper::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

/* Handle on hover */
.body-wrapper::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.raphael-group-13-caption {
  display: none;
}
