/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 65.2% !important;
}
.k-appbar {
  background-image: none !important;
  background-color: white !important;
}
.profile kendo-splitbutton button:nth-child(1) {
  display: none !important;
}
.profile kendo-splitbutton button:nth-child(2) {
  background-color: transparent;
  border: none;
}
.profile kendo-splitbutton button:nth-child(2):active {
  border: none;
}
