/* You can add global styles to this file, and also import other style files */
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 65.2% !important;
}
.row {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  /* background-color: #f2f2f2; */
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
.k-appbar {
  background-image: none !important;
  background-color: white !important;
}
.profile kendo-splitbutton button:nth-child(1) {
  display: none !important;
}
.profile kendo-splitbutton button:nth-child(2) {
  background-color: transparent;
  border: none;
}
.profile kendo-splitbutton button:nth-child(2):active {
  border: none;
}
.row2 .k-card {
  overflow: visible !important;
}
kendo-tooltip {
  background: rgb(255, 255, 255) !important;
  color: black !important;
}
.remove-margin {
  margin: 0;
}
